<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unsplashing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A675B93B1F01F99500AD9219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A675B94F1F01F99600AD9219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A675B95A1F01F99600AD9219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
